In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_cars = pd.read_csv("Data-Prep-for-ML/Feature Selection/indian cars dataset incnulls.csv")
df_cars.head()

,ending_price,starting_price,reviews_count,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,fuel_tank_capacity,no_cylinder,rating,seating_capacity,fuel_type,engine_displacement,transmission_type,body_type,car_name
0,583000,399000,51,89.0,3500,65.71,5500,27.0,3,4.5,5.0,Petrol,998,Automatic,Hatchback,Maruti Alto K10
1,1396000,799000,86,136.8,4400,101.65,6000,48.0,4,4.5,5.0,Petrol,1462,Automatic,SUV,Maruti Brezza
2,1603000,1353000,242,300.0,2800,130.00,3750,57.0,4,4.5,4.0,Diesel,2184,Automatic,SUV,Mahindra Thar
3,2458000,1318000,313,450.0,2800,182.38,3500,60.0,4,4.5,7.0,Diesel,2198,Automatic,SUV,Mahindra XUV700
4,2390000,1199000,107,400.0,2750,172.45,3500,57.0,4,4.5,7.0,Diesel,2198,Automatic,SUV,Mahindra Scorpio-N

In [3]:
# One of the method is to check if the feature is giving as any predictive power
# Ending price does not give us any power over the starting price
df_cars = df_cars.drop(columns=['ending_price'])
df_cars.head()

,starting_price,reviews_count,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,fuel_tank_capacity,no_cylinder,rating,seating_capacity,fuel_type,engine_displacement,transmission_type,body_type,car_name
0,399000,51,89.0,3500,65.71,5500,27.0,3,4.5,5.0,Petrol,998,Automatic,Hatchback,Maruti Alto K10
1,799000,86,136.8,4400,101.65,6000,48.0,4,4.5,5.0,Petrol,1462,Automatic,SUV,Maruti Brezza
2,1353000,242,300.0,2800,130.00,3750,57.0,4,4.5,4.0,Diesel,2184,Automatic,SUV,Mahindra Thar
3,1318000,313,450.0,2800,182.38,3500,60.0,4,4.5,7.0,Diesel,2198,Automatic,SUV,Mahindra XUV700
4,1199000,107,400.0,2750,172.45,3500,57.0,4,4.5,7.0,Diesel,2198,Automatic,SUV,Mahindra Scorpio-N

In [ ]:
# Another method is to check if a feature have too many unique values
df_cars.nunique()

starting_price         190
reviews_count           97
max_torque_nm           82
max_torque_rpm          50
max_power_bhp          143
max_power_rp            36
fuel_tank_capacity      53
no_cylinder              9
rating                   5
seating_capacity         6
fuel_type                4
engine_displacement     76
transmission_type        2
body_type               11
car_name               199
dtype: int64

In [ ]:
# car_name have too many values so less predictive power
df_cars = df_cars.drop(columns=['car_name'])
df_cars.head()

,starting_price,reviews_count,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp,fuel_tank_capacity,no_cylinder,rating,seating_capacity,fuel_type,engine_displacement,transmission_type,body_type
0,399000,51,89.0,3500,65.71,5500,27.0,3,4.5,5.0,Petrol,998,Automatic,Hatchback
1,799000,86,136.8,4400,101.65,6000,48.0,4,4.5,5.0,Petrol,1462,Automatic,SUV
2,1353000,242,300.0,2800,130.00,3750,57.0,4,4.5,4.0,Diesel,2184,Automatic,SUV
3,1318000,313,450.0,2800,182.38,3500,60.0,4,4.5,7.0,Diesel,2198,Automatic,SUV
4,1199000,107,400.0,2750,172.45,3500,57.0,4,4.5,7.0,Diesel,2198,Automatic,SUV

In [9]:
# Another method is to find the null values and deciding whether to remove or impute the null values
df_cars.isnull().sum()

starting_price         0
reviews_count          0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
fuel_tank_capacity     0
no_cylinder            0
rating                 0
seating_capacity       1
fuel_type              0
engine_displacement    0
transmission_type      0
body_type              0
dtype: int64